#header {
    position: relative;
    width: 780px;
    height: 130px;
    background: gray;
}
#header h2 {
    color: #fff;
}
#header h2 {
    position: absolute;
    top: 65px;
    right: 140px;
    margin: 0;
    width: 8em;
    font-size: 15px;
    line-height: 1.33;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

div {
    display: block;
}

body {
    background: #e0e0e0;
    color: #333;
}
body {
    margin: 0;
    padding: 0;
    font: 11px/1.5 verdana,sans-serif;
}

body {
    display: block;
}

#topbg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 150px;
    background: rgb(57, 230, 57);
    opacity: 0.5;
}



#main {
    position: relative;
    width: 900px;
    margin: 0 auto;
    padding: 13px 0 0 0;
}

#hdr-overlay {
    background: url(header1.png) top right no-repeat;
}

#hdr-overlay {
    position: relative;
    top: -15px;
    left: 14px;
    width: 780px;
    height: 145px;
}


.top-menu{
    position: absolute;
    bottom:0;
    background: #E667AF;
    display: flex;
    justify-content: flex-start;
	margin: 0px;
	padding: 1px;
}


.top-menu a {
    background-color: rgb(255, 178, 115);
    color: rgb(166, 75, 0);
	padding: 5px;
	margin: 1px;
    height: 20px;
    font-size: 10px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

a:hover{
    background: rgb(166, 75, 0);
    color: rgb(255, 178, 115);
}

#content {
    display: flex;
    justify-content: space-around;
    width: 780px;
    padding: 1px 0px;
    background: #FFB273;
    color: rgb(27, 8, 8);
    margin: 8px 0 3px 0;

}

#left {
    background: white;
    width: 300px;
    padding: 10px 20px;
    border-right: 1px dotted #fff;
}
#left h3 {
    margin: 0.5em 0 0.3em;
    font-size: 18px;
    font-weight: normal;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#right {
    background: white;
    width: 300px;
    margin: 0 20px 0 0;
    padding: 10px 20px;
}

#footer {
    width: 780px;
    margin: 3px 0 3px 0;
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}