{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Статьи
        {% endblock title %}
    </title>

</head>
{% block content %}


<h1>Статьи ({{articles|length}} ) </h1>
<!--<h1>Все новости ({{posts|length}} ) </h1>-->
<h2>-----------------------------------------------------------</h2>

    {% for post in articles %}

    <i>
        <h1>*</h1>
        <h4>{{ post.title |censor }}<a href="/articles/{{ post.id }}"> Нажми меня </a> </h4>
    </i>
    <a>{{ post.ti|date:'M d Y' }}</a><p></p>
    <a>{{ post.content |truncatewords:20|censor}}</a>
    <p></p>
    {% endfor %}


{% endblock content %}